.student-info-container .card-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.student-info-container .list-group-item {
  border: none;
  padding-left: 15px !important; 
  font-family: 'Poppins', sans-serif;
}

.student-info-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.student-info-container .bi {
  font-size: 1.2rem;
  cursor: pointer;
}

.stdncard {
 height: auto; 
  width: 100%;
  font-family: 'Poppins', sans-serif; 
}

.stdnbody {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.crdimgbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
